<% provide(:title, @user.name) %>
  <aside class="col-md-r">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user, size: 50 %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<p>created at: <%= @user.created_at %> | last updated at: <%= @user.updated_at %></p>
Time is currently <%= Time.now %>
